* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

header {
    background-color: black;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
    width: 100%;
    overflow: auto;
    clear: both;
    text-align: left;
}

main {
    font-size: 18px;
    line-height: 150%;
}

#profile {
    width: 100%;
    overflow: auto;
    clear: both;
    text-align: left;
}

#name {
    width: 100%;
    margin: 10px 0px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.1em;
    padding: 10px;
    background-color: rgb(159, 178, 197);
}

img {
    float: right;
    width: 65%%;
    height: 75%;
    margin-left: 100px;
    margin-bottom: 40px;
    padding: 20px;
    border: 2px solid #eee;
}

nav h2 {
        width: 100%;
        margin: 25px 0px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 0.1em;
        padding: 10px;
        background-color: rgb(231, 235, 238);
}

#left {
    float: left;
    width: 33.3%;
  }
  
  #middle {
    float: left;
    width: 33.3%;
  }
  
  #right {
    float: left;
    width: 33.3%;
  }
